.garage{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 15px;
    padding-bottom: 10px;
}


.garageControls{
    display: flex;
    gap: 20px;
}